[submodule "🍎JobsCodeSnippets"]
	path = 🍎JobsCodeSnippets
	url = git@github.com:JobsKits/JobsCodeSnippets.git
	branch = main
[submodule "💻JobsCodexConfigs"]
	path = 💻JobsCodexConfigs
	url = git@github.com:JobsKits/JobsCodexConfigs.git
	branch = main
[submodule "🔨JobsConfigHotKeyByHammerspoon"]
	path = 🔨JobsConfigHotKeyByHammerspoon
	url = git@github.com:JobsKits/JobsConfigHotKeyByHammerspoon.git
	branch = main
[submodule "🦞JobsInstallOpenClaw"]
	path = 🦞JobsInstallOpenClaw
	url = git@github.com:JobsKits/JobsInstallOpenClaw.git
	branch = main
[submodule "🌍JobsMacEnvVarConfigs"]
	path = 🌍JobsMacEnvVarConfigs
	url = git@github.com:JobsKits/JobsMacEnvVarConfigs.git
	branch = main
[submodule "⏬JobsSoftware.MacOS"]
	path = ⏬JobsSoftware.MacOS
	url = git@github.com:JobsKits/JobsSoftware.MacOS.git
	branch = main
[submodule "Obsidian"]
	path = 📒CodexByObsidian
	url = git@github.com:JobsKits/CodexByObsidian.git
	branch = main
[submodule "🌲SourceTree.sh"]
	path = 🌲SourceTree.sh
	url = git@github.com:JobsKits/SourceTree.sh.git
	branch = main
[submodule "⚙️VScodeConfigs"]
	path = ⚙️VScodeConfigs
	url = git@github.com:JobsKits/VScodeConfigs.git
	branch = main
