[submodule "⏬JobsSoftware.MacOS"]
	path = ⏬JobsSoftware.MacOS
	url = https://github.com/JobsKits/JobsSoftware.MacOS.git
	branch = main
[submodule "🌍JobsMacEnvVarConfigs"]
	path = 🌍JobsMacEnvVarConfigs
	url = https://github.com/JobsKits/JobsMacEnvVarConfigs.git
	branch = main
[submodule "🍎JobsCodeSnippets"]
	path = 🍎JobsCodeSnippets
	url = https://github.com/JobsKits/JobsCodeSnippets.git
	branch = main
[submodule "🔨JobsConfigHotKeyByHammerspoon"]
	path = 🔨JobsConfigHotKeyByHammerspoon
	url = https://github.com/JobsKits/JobsConfigHotKeyByHammerspoon.git
	branch = main
[submodule "🦞JobsInstallOpenClaw"]
	path = 🦞JobsInstallOpenClaw
	url = https://github.com/JobsKits/JobsInstallOpenClaw.git
	branch = main
[submodule "🌲SourceTree.sh"]
	path = 🌲SourceTree.sh
	url = https://github.com/JobsKits/SourceTree.sh.git
	branch = main
[submodule "⚙️VScodeConfigs"]
	path = ⚙️VScodeConfigs
	url = https://github.com/JobsKits/VScodeConfigs.git
	branch = main
[submodule "💻JobsCodexConfigs"]
	path = 💻JobsCodexConfigs
	url = https://github.com/JobsKits/JobsCodexConfigs.git
	branch = main
[submodule "🐦VScodeConfigByFlutter"]
	path = 🐦VScodeConfigByFlutter
	url = https://github.com/JobsKits/VScodeConfigByFlutter.git
	branch = main
