[submodule "🍎JobsCodeSnippets"]
	path = 🍎JobsCodeSnippets
	url = git@gitee.com:JobsGo/jobs-code-snippetsJobsCodeSnippets.git
	branch = main
[submodule "💻JobsCodexConfigs"]
	path = 💻JobsCodexConfigs
	url = ../JobsCodexConfigs.git
	branch = main
[submodule "🔨JobsConfigHotKeyByHammerspoon"]
	path = 🔨JobsConfigHotKeyByHammerspoon
	url = ../JobsConfigHotKeyByHammerspoon.git
	branch = main
[submodule "🦞JobsInstallOpenClaw"]
	path = 🦞JobsInstallOpenClaw
	url = ../JobsInstallOpenClaw.git
	branch = main
[submodule "🌍JobsMacEnvVarConfigs"]
	path = 🌍JobsMacEnvVarConfigs
	url = ../JobsMacEnvVarConfigs.git
	branch = main
[submodule "⏬JobsSoftware.MacOS"]
	path = ⏬JobsSoftware.MacOS
	url = ../JobsSoftware.MacOS.git
	branch = main
[submodule "Obsidian"]
	path = 📒CodexByObsidian
	url = ../CodexByObsidian.git
	branch = main
[submodule "🌲SourceTree.sh"]
	path = 🌲SourceTree.sh
	url = ../SourceTree.sh.git
	branch = main
[submodule "⚙️VScodeConfigs"]
	path = ⚙️VScodeConfigs
	url = ../VScodeConfigs.git
	branch = main
